/*
  Theme Name: La Pizzeria
  Theme URI: 
  Author: Mohammad Reza
  Author URI: 
  Description: Theme for Restaraunts
  Version: 1.0
  License: GNU General Public License v2 or later
  License URI: http://www.gnu.org/licenses/glp-2.0.html
  Tags: restaurant, mobile first, responsive, pizza
  Text Domain: lapizzeria
*/

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

*,*:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

.clear,
.clear::after {
  content: '';
  clear: both;
  display: block;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.sr-text,
.screen-reader-text {
  display: none;
}

.text-center {
  text-align: center;
}

.primary-text {
  color: #a61206;
}

.button {
  background-color: #a61206;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: auto;
  border-radius: 8px;
  color: #fff;
  padding: 15px 80px;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.primary {
  background-color: #a61206;
  transition: background-color .5s ease;
}

.primary:hover {
  background-color: #7b0d04;
}

.secondary {
  background-color: #f19f30;
  transition: background-color .5s ease;
}

.secondary:hover {
  background-color: #da8b20;
}

/* HEADER */
header.site-header {
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 30px;
}

.logo {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .logo {
    text-align: left;
  }
}

@media only screen and (min-width: 992px) {
  .logo {
    text-align: center;
  }
}

.logoimage {
  width: 250px;
}

@media only screen and (min-width: 768px) {
  header.site-header .container {
    position: relative;
  }

  header.site-header .header-information {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.address {
  display: block;
  clear: both;
  padding-top: 10px;
}

.address p {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .address p {
    text-align: right;
  }
}


/* Social menu */
nav.socials ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  nav.socials ul {
    float: right;
  }
}

nav.socials ul li {
  position: relative;
  display: inline-block;
}

nav.socials ul li a:before {
  font-family: 'FontAwesome';
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  content: '\f08e';
  font-size: 30px;
  color: #000;
  -webkit-font-smoothing: antialized;
}

/* Socials icons use unicode characters*/
nav.socials ul li a[href*="facebook.com"]::before {
  content: '\f09a';
} 
nav.socials ul li a[href*="twitter.com"]::before {
  content: '\f099';
} 
nav.socials ul li a[href*="pinterest.com"]::before {
  content: '\f231';
} 
nav.socials ul li a[href*="youtube.com"]::before {
  content: '\f16a';
} 
nav.socials ul li a[href*="instagram.com"]::before {
  content: '\f16d';
} 
/* End Social menu */


/* MAIN MENU */
nav.site-nav {
  display: none;
}

@media only screen and (min-width: 768px) {
  nav.site-nav {
    display: block;
  }
}

nav.site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
}

@media only screen and (min-width: 768px) {
  nav.site-nav ul li {
    display: table-cell;
    width: 1%;
  }
}

nav.site-nav ul li a {
  text-align: center;
  padding: 20px 0;
  display: block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-family: 'Raleway', sans-serif;
}

nav.site-nav ul li.current_page_item a {
  border-bottom: 4px solid #a61206;
}

/* Responsive Menu button */
@media only screen and (max-width: 767px) {
  .mobile-menu a {
    height: 40px;
    line-height: 40px;
    background-color: #a61206;
    width: 100%;
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu a {
    display: none;
  }
}
/* End Responsive Menu button */
/* END MAIN MENU */
/* END HEADER */


/* Hero image */
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 450px;
  display: table;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position: relative;
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
}

.hero .hero-content {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  z-index: 2;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .hero-text {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) {
  .hero-text {
    width: 60%;
  }
}

.main-content {
  padding: 60px;
  background-color: #fff;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .main-content {
    margin-top: -90px;
  }
}

.content-text p {
  font-size: 18px;
  line-height: 50px;
}
/* End Hero image */


/* Boxes on About Us page */
.box-information {
  display: grid;
}

@media only screen and (min-width: 768px) {
  .box-information {
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  }
}

.single-box {
  display: grid;
  grid-template-columns: 2fr 3fr;
  color: #fff;
  text-align: center;
}

.single-box img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .single-box {
    grid-template-columns: unset;

    /* Make equal hight to the rows  */
    grid-template-rows: 1fr 1fr;
  }
}

.single-box:nth-child(1) {
  background-color: #f19f30;
}

.single-box:nth-child(2) {
  background-color: #127427;
}

.single-box:nth-child(3) {
  background-color: #a61206;
}

/* Swap the image order */
@media only screen and (min-width: 768px) {
  .single-box:nth-child(2) img {
    order: 2;
  }
  .single-box:nth-child(2) div {
    order: 1;
  }
}

/* Center the text on the boxes */
.content-box {
  display: grid;
  grid-template-rows: 10% 20% 60% 10%;
  grid-template-areas: "."
                       "top"
                       "text"
                       ".";
}

.content-box * {
  align-self: center;
}

@media only screen and (min-width: 768px) {
  .content-box {
    grid-template-rows: 20% 30% 30% 20%;
  }
}

/* Set the grid area */
.content-box h3 {
  grid-area: top;
  margin: 5px 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.content-box p {
  grid-area: text;
}

/* End Boxes on About Us page */



/* Footer */
footer {
  margin-top: 30px;
  padding: 30px 0;
  border-top: 1px solid #c1c1c1;
  text-align: center;
}

footer nav ul {
  list-style-type: none;
}

footer nav ul li {
  display: inline;
}

footer nav ul li:last-child .separator {
  display: none;
}

footer nav ul li a {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

footer .location {
  margin-top: 30px;
}

footer p {
  margin: 0 0 5px 0;
  font-size: 14px;
}

footer p.copyright {
  margin-top: 20px;
}
/* End Footer */


/* Menu Grid */
img {
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .container-grid {
    margin-left: -10px;
    margin-right: -10px;
  }

  .container-grid::after {
    content:'';
    display: block;
    clear: both;
  } 

  [class*='columns'] {
    padding: 0 10px;
    float: left;
  }

  .columns1-4 {
    width: 25%;
  }
  .columns2-4 {
    width: 50%;
  }
  .columns3-4 {
    width: 75%;
  }
  .columns1-3 {
    width: 33.3%;
  }
  .columns2-3 {
    width: 66.6%;
  }

}
/* End Menu Grid */



/* Specialties */
.our-specialties {
  padding: 0 60px;
}

.specialty-content {
  padding: 20px;
}

.specialty-content a {
  color: #000;
  text-decoration: none;
}

.specialty-content h4 {
  border-bottom: 1px solid #dfdfdd;
  padding: 15px 0;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.specialty-content h4 span {
  float: right;
  font-size: 30px;
  color: #f19f30;
  font-family: 'Open Sans', sans-serif;
}

.specialty-content p {
  color: #3d3d3d;
  line-height: 30px;
}
/* End Specialties */


/* Blog */
article.entry {
  margin-top: 30px;
}

header.entry-header {
  margin-top: 20px;
}

header.entry-header .date,
.entry-information .date {
  background-color: #f19f30;
  float: left;
  width: 70px;
  height: 70px;
  text-align: center;
  padding-top: 5px;
  margin-right: 20px;
}

header.entry-header .date time,
.entry-information .date time {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

header.entry-header .date time span,
.entry-information .date time span {
  font-size: 16px;
  display: block;
  text-transform: uppercase;
}

header.entry-header .entry-title {
  float: right;
  width: calc(100% - 90px);
}

header.entry-header h2 {
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

header.entry-header p.author,
.entry-information p.author {
  text-transform: uppercase;
  color: #000;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.entry-information {
  padding-top: 30px;
}

.entry-information p.author {
  display: inline;
  float: left;
  margin-top: 30px;
}

p.author i {
  font-size: 30px;
  color: #f19f30;
}

.entry-content p {
  margin-bottom: 0;
  line-height: 24px;
}
/* End Blog */


/* Sidebar */
aside.sidebar {
  margin-top: 3px;
}

form.searchform {
  position: relative;
}

/* Magnifying glaass search button */
form.searchform #searchsubmit {
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 42px;
  background-color: #a61206;
  text-indent: -9999px;
  background-image: url(img/search.png);
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
}

form.searchform #s {
  width: 100%;
  padding: 13px;
}

.sidebar .widget {
  margin-bottom: 20px;
}

.sidebar .widget h3 {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.sidebar .widget ul {
  list-style-type: none;
}

.sidebar .widget ul li {
  margin-bottom: 20px;
}

.sidebar .widget ul li a {
  color: #000;
  text-decoration: none;
}

.sidebar .widget ul li a:hover {
  color: #f19f30;
}
/* End Sidebar */


/* Comments form */
.comment-respond h3 {
  font-weight: 700;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .comments {
    width: 80%;
  }
}

@media only screen and (min-width: 992px) {
  .comments {
    width: 60%;
  }
}

.comment-respond form label {
  width: 200px;
  display: inline-block;
  text-align: right;
  padding-right: 20px;
  font-weight: bold;
}

.comment-respond form input,
.comment-respond form textarea {
  padding: 10px;
  width: calc(100% - 220px);
}

.comment-respond form input[type="submit"] {
  margin: 0 auto;
  display: block;
  border: none;
  width: auto;
  background-color: #a61206;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

p.form-submit {
  text-align: center;
}

.comment-notes {
  text-align: center;
}
/* End Comments form */


/* Image Gallery */
#gallery-1 .gallery-item {
  width: 50% !important;
  margin: 0;
  padding: 0px 5px !important;
}

@media only screen and (min-width: 768px) {
  #gallery-1 .gallery-item {
    width: 25% !important;
  }
}

#gallery-1 img {
  border: none !important;
}
/* End Image Gallery */


/* Reservation Page */
.reservation {
  background-image: url(img/bg_contact.jpg);
  background-repeat: no-repeat;
  background-position: top left;
}

@media only screen and (min-width: 768px) {
  .reservation-info {
    margin-left: 50%;
  }
}

form.reservation-form h2 {
  font-size: 20px;
  font-weight: 700;
}

form.reservation-form .field {
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

form.reservation-form .field input,
form.reservation-form .field textarea {
  width: 100%;
  border: 3px solid #000;
  padding: 15px 10px;
}

form.reservation-form .field textarea {
  height: 200px;
}

/* Style the placeholder */
form.reservation-form ::-webkit-input-placeholder {
  color: #000 !important;
}
/* End Reservation Page */



/* Front page */
.home div.hero {
  height: 750px;
}

@media only screen and (min-width: 768px) {
 .home .main-content {
    margin-top: 0;
    padding: 0;
  }

  .home .hero-text {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .home .hero-text {
    width: 40%;
  }
}

.home .hero-text p {
  line-height: 40px;
  font-size: 18px;
}

.specialty-content {
  position: relative;
  overflow: hidden;
  display: table;
  padding: 0;
}

.specialty-content .information {
  position: absolute;
  top:100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(241, 159, 48,.75);
  text-align: center;
  color: #fff;
  padding: 5px;  
  opacity: 0;
  transition: all .5s ease-in-out;
}

.specialty-content:hover .information {
  top: 0;
  opacity: 1;
}

.specialty-content .information .price {
  font-size: 60px;
  font-weight: bold;
}

.specialty-content .information h3 {
  font-size: 30px;
  margin-top: 40px;
  font-weight: 700;
  color: #fff;
}

.specialty-content .information p {
  margin: 0 0 10px 0;
  color: #fff;
}

.specialty-content .information a {
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .specialty-content {
    overflow: visible;
    display: block;
    margin-bottom: 30px;
  }

  .specialty-content .information {
    position: relative;
    opacity: 1;
    background-color: #f19f30;
    padding: 30px;
  }

  .specialty-content img {
    width: 100%;
  }
}

/* Ingredients */
section.ingredients {
  background-image: url(img/bg_ingredients.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 50px;
  padding: 80px 0;
  color: #fff;
}

section.ingredients h3 {
  line-height: 60px;
  font-size: 40px;
  font-weight: 700;
}

section.ingredients p {
  line-height: 40px;
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  section.ingredients p,
  section.ingredients h3 {
    text-align: center;
  } 

  section.ingredients a {
    display: block;
    margin: 0 auto;
    width: 250px;
  }
}

section.ingredients .image {
  padding-top: 30px;
  text-align: center;
}

section.ingredients .image img {
  width: 80%;
}


/* End Ingredients */



/* End Front page */

